<!DOCTYPE html>
<html>
    <head>
        <title>layout-1</title>
        <style type="text/css">
            *{font-size: 22px font-weight:bold;}
            #A1{height: 800px; width: 200%;}
            #A1a1,#A1b1{ height: 800px; float: left;}
             #A1a1{width: 30%;}
             #A1ba{width: 70%;}
             #A1b1c1{height:160px;padding-top:30px;margin-bottom:10px;background-color:gray;text-align:center; width: 500px;}
            #A1b1c2{height:270px;padding-top:130px;background-color:gray;text-align:center;}
           </style>
    </head>
    <body>
        <div id="A1">
            <div id="A1a1">
                Side Bar Navigation
            </div>
            <div id="A1b1">
                <div id="A1b1c1">Header / Banner</div>
                <div id="A1b1c2">Body Area</div>
            </div>
        </div>
    </body>
</html>