<!DOCTYPE html>
<html>
    <head>
        <title>layout 2</title>
        <style type="text/css">
            #ABCD{height: 800PX; width: 100%;}
            #A1,#B1,#C3,#D4{height: 180PX;margin-bottom: 20PX;width: 100%;}
            #A1 div,#B1 div,#C3 div,#D4 div{height: 180px;width: 23.5%;background-color: yellowgreen;margin-right: 2%;float: left;}
            #A1 div:last-child,#B1 div:last-child,#C3 div:last-child,#D4 div:last-child{margin-right:0!important;width:23.5%!important;}
        </style>
    </head>
    <body>
    <div id="ABCD">
        <div id="A1">
            <div id="a1"></div>
            <div id="a2"></div>
            <div id="a3"></div>
            <div id="a3"></div>
        </div>
        <div id="B1">
            <div id="b1"></div>
            <div id="b2"></div>
            <div id="b3"></div>
            <div id="b4"></div>
        </div>
        <div id="C3">
            <div id="c1"></div>
            <div id="c2"></div>
            <div id="c3"></div>
        <div id="c4"></div>     
        </div>
        <div id="D4">
            <div id="d1"></div>
            <div id="d2"></div>
            <div id="d3"></div>
            <div id="d4"></div>
        </div>
    </div>  
    </body>
</html>